[submodule "assets/artifacts"]
	path = assets/artifacts
	url = https://github.com/Myriad-Dreamin/typst.git
[submodule "typst-hugo-demo"]
	path = typst-hugo-demo
	url = git@github.com:wenbin-liu/typst-hugo-demo.git
